$icon-font-path: "/bower_components/bootstrap-sass/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "_fixed-responsive-nav";
@import "_hero-sections";
@import "../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html, body {
    height:100%;
}

/* Space out content a bit */
body {
    padding: 48px 0 0;
}

